gunicorn==21.2.0
Flask==3.0.2
requests==2.32.3
Pillow==10.4.0
numpy==1.26.4
google-cloud-firestore==2.16.0
google-cloud-storage==2.18.2
opencv-python-headless==4.10.0.84
ultralytics==8.3.30
flask-cors==4.0.0

earthengine-api
geemap
pandas
scikit-learn==1.4.2
joblib==1.4.2
psutil
lightgbm==4.5.0
firebase-admin==6.5.0